/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Per-process container overrides (Galaxy depot images)
    Overrides the containers declared inside the nf-core modules.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'BWAMEM2_INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/bwa-mem2:2.2.1--he513fc3_0'
    }

    withName: 'BWAMEM2_MEM' {
        // bwa-mem2 + samtools mulled image (alignment piped to samtools sort)
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:db98f81f55b64113'
    }

    withName: 'PICARD_MARKDUPLICATES' {
        container = 'https://depot.galaxyproject.org/singularity/picard:3.4.0--hdfd78af_0'
    }

    withName: 'COVERAGE_STATS' {
        container = 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:db98f81f55b64113'
    }
}
